.jumbotron {
    background-color: #0000FF;
    margin: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.well {
    background-color: white;
}
.col-sm-2 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    align-items: center;
    margin: 0;
}

.imagerow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.images {
    align-items: center;
    justify-content: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:hover:active {
    color: white;
    text-decoration: none;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}