.jumbotron {
    background-color: #0000FF;
    margin: 0;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

.well {
    background-color: white;
}
.col-sm-2 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    display: flex;
    align-items: center;
    margin: 0;
}

.imagerow {
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.images {
    align-items: center;
    justify-content: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:hover:active {
    color: white;
    text-decoration: none;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

.albumtitle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact > h1 {
    margin: 0;
    margin-bottom: 24px;
}

.well {
    margin-bottom: 0;
}

.jumbotron {
    padding: 10px;
}

.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
  }

  .nav > li:hover {
    background-color: rgb(225, 225, 225);
  }

  .navbar {
    margin-bottom: 0;
  }

  .slideanim {
    visibility:hidden;
}

.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}

@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}